/* tune windguru display */
.wgfcst-male,
.wgfcst-optbox,
.wgfcst-wgtab_on,
.wgfcst-wgtab_off,
#forecast_options_link	{ display: none; }
.wgfcst-link		{ text-decoration: none; color: black; }

#div_forecast		{ padding:0; margin:0; }
.wgfcst-fcsttab		{ border: none ;
	  border-bottom: 1px solid grey;
	  border-right: 1px solid grey; }
.wgfcst-fcsttab,
.wgfcst-fcsttabf	{ padding: 0; margin: 0; }

/* sun image and info */
#sun_img  { height: 15; vertical-align: middle; border: 0; }
.info_txt { font-size: 10px; font-weight: normal; }

/* no copy/paste */
body { -webkit-user-select: none; }

/* no resize while building forecast views */
body { background: #e0e0e0; overflow:hidden; }


/* prevent clicking, navigation button */
#anti_click, #the_button {
/*border: 1px solid red;*/
position: absolute; top: 0; left: 0;
margin: 0; padding: 0;
width: 100%; height: 100%;
}
#the_button { width: 42; }

#container {
position: absolute; top: 0; left: 0;
padding: 0; margin: 0;
}
#workspace {
visibility: hidden;
overflow: hidden;
}

/* center on page ... */
#container {
display: table;
width: 100%;
height: 100%;
}
#container center {
display: table-cell;
vertical-align: middle;
}

#loading-blinder {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
display: table;
background-color: #130368;
z-index: 1;
}
#loading-blinder center {
display: table-cell;
vertical-align: middle;
color: orange;
font-size: 20pt;
font-family: Helvetica;
}
#loading-blinder .spinner {
position: absolute;
top: 20%;
left: 20%;
width: 60%;
height: 60%;
}
#loading-blinder .spinner div {
background: #c00;
}

