html {
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}
body {
	display: table-cell;
	vertical-align: middle;

	background-color: #130368;
	font-family: Helvetica;
	font-size: 20pt;
	color: orange;
	-webkit-user-select: none;
}
ul {
	text-align: left;
}
