body  {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	text-align: center;
	background-color: #130368;
	color: orange;
	font-size: 20pt;
	font-family: Helvetica;
}
#menu {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
input {
	display: inline;
	font-size: 20pt;
	margin: 3px;
	background-color: orange;
	-webkit-border-radius:  9pt;
	-moz-border-radius: 9pt;
}
#menu div {
	display: none;
}
#menu div:first-child {
	display: block;
}
#loading-blinder {
	display: none;
	vertical-align: middle;
}
#loading-blinder .spinner {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 60%;
	height: 60%;
}
#loading-blinder .spinner div {
	background: #c00;
}
