body {
	overflow: hidden;
}
#contents {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#contents > div {
	display: table;
	margin: 0 auto;
	padding: 10px;
}
page {
	display: table-cell;
	vertical-align: middle;
	border: 1px dashed #B46911;
	padding: .2em;
	width: 20em;
	height: 5em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	text-align: center;
}
