/* centered display */
html {
	display: table;
	height: 100%;
	margin: auto;
}
body {
	display: table-cell;
	vertical-align: middle;
}
/* overall style */
body {
	background: #130368;
	font-family: Helvetica;
	font-size: 20pt;
	color: orange;
}
button, input[type="button"] {
	font-size: 20pt;
	background: orange;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	margin: 2px;
}
