html {
	display: table;
	margin: auto;
	height:100%;
	background: #130368;
	font-family: Helvetica;
	font-size: 20pt;
}
body {
	display: table-cell;
	vertical-align: middle;
}
#contents div, #controls button, #contents input {
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	font-size: 20pt;
}
#contents {
	margin-top: 1em;
}
#contents div {
	border: 1px solid #B46911;
	min-height: 0.5em;
	max-width: 22em;
	padding: 2px;
	margin: 2px;
}
#contents input {
	margin: 2px;
	background: #ECCC66;
}
#controls {
}
#controls button {
	vertical-align: middle;
	background: orange;
}
#controls button img {
	height: 1.2em;
	margin-bottom: -7px;
}
#spot_input {
	display: none;
}
#spot_input center {
	border: 4px double grey;
	background: #A0A0A0;
	vertical-align: middle;
}
#spot_input input {
	display: block;
	width: 10em;
	font-size: 20pt;
}
#spot_input button {
	width: auto;
	height: auto;
}
