#contents div {
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
}
#contents div:first-child {
	margin-top: 1em;
}
#contents div {
	border: 1px solid #B46911;
	min-height: 0.5em;
	max-width: 22em;
	padding: 2px;
	margin: 2px;
}
#contents input {
	margin: 2px;
	background: #ECCC66;
}
#controls button img {
	height: 1.2em;
	margin-bottom: -7px;
}
#spot_input {
	display: none;
}
#spot_input center {
	border: 4px double grey;
	background: #A0A0A0;
	vertical-align: middle;
}
#spot_input input {
	display: block;
	width: 10em;
	font-size: 20pt;
}
#spot_input button {
	width: 70px;
	height: 60px;
}
