#settings {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
	background: rgba(0,0,20,0.5);
}
#settings > div {
	display: table-cell;
	vertical-align: middle;
}
#settings > div div {
	background: lightgrey;
	border: 2px solid grey;
	display: inline-block;
	margin: .3em;
	border-radius: .5em;
	-moz-border-radius: .5em;
}
#lang {
	display: inline-block;
	width: 2em;
}
#flag {
	height: 17pt;
	margin-bottom: -2pt;
}

#settings_button {
	position: absolute;
	right: 0;
	bottom: -40px;
	width: 15px;
	opacity: .5;
	overflow: hidden;
	transition: width .3s;
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
}
#settings_button:hover  {
	opacity: 1;
	width: 2.5em;
	background: orange;
	border-top: 2px solid;
	border-left: 2px solid;
	border-top-left-radius: .5em;
	-moz-border-radius-topleft: .5em;
}
